



h1{
	text-align:center;
     background-color: #2AA5A0;
    background-image: linear-gradient(#F6B107, #EADD0E, #F4E93D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:cursive; 
    text-transform: uppercase;
}
body{
	background-color: grey;
}
header{
	font-family: sans-serif;
	color: darkgreen;
	background-color: rgb(207, 209, 184);
}
main{
	font-family: fantasy;
	color: rgb(255, 255, 255);
	background-color: rgb(207, 209, 184);
    font-size: 15px;
}
textarea{
	font-size: 25px;
	font-family: sans-serif;
	background-color: lightseagreen;
}
table{
    background-color:rgb(214, 164, 164) ;
}
td{
    border: 0.2px solid black;
}
.a{
color:rgb(0, 32, 139);
background-image:linear-gradient(rgb(248, 233, 233),grey);
border-radius: 2px;
padding: 1px;
text-decoration:none;
border:2px solid darkblue;
box-shadow: 5px 5px 0px 0px rgb(purple);
font-size: 24px;
}
.bobr{
    font-size:23px;
}
.ashdwao{
    font-size:25px;
}
table{
    font-size: 18px;
}
.slon{
font-size:19px;
Color:green;
}
.nav-link {
    font-size: 35px;
    color: rgb(63, 95, 68);
    text-decoration:none;
    display:inline-block;
}
nav {
    border-top: 5px solid rgb(54, 23, 169);
    border-bottom: 5px solid rgb(247, 252, 0);
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}
